CREATE TABLE [DANHSACHCHO](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[TRANGTHAI] [varchar](50) NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL,
	[HANCHOT] [date] NOT NULL,
	[NGUOITHUCHIEN] [int] NOT NULL,
	[MAYEUCAU] [int] NOT NULL,
	CONSTRAINT [PK_DANHSACHCHO] PRIMARY KEY ([MA])
);

CREATE TABLE [DANHSACHTOUR](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[TENTOUR] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[THOIGIANBATDAU] [date] NOT NULL,
	[THOIGIANKETTHUC] [date] NOT NULL,
	[LOAIDICHVU] [varchar](50) NOT NULL,
	[DONVILUHANH] [nvarchar](100) NOT NULL,
	CONSTRAINT [PK_DANHSACHTOUR] PRIMARY KEY ([MA])
);

CREATE TABLE [DICHVU](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[TENDICHVU] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[LOAIDICHVU] [nvarchar](200) NULL,
	[GIA] [int] NOT NULL,
	CONSTRAINT [PK_DICHVU] PRIMARY KEY ([MA])
 );

CREATE TABLE [DICHVUDIKEM](
	[LOAIPHONG] [varchar](20) NOT NULL,
	[MADICHVU] [int] NOT NULL,
	CONSTRAINT [PK_DICHVUDIKEM] PRIMARY KEY ([LOAIPHONG], [MADICHVU])
);

CREATE TABLE [GHINHANHUHAI](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THIETBIHUHAI] [nvarchar](200) NOT NULL,
	[MOTATINHTRANG] [nvarchar](500) NOT NULL,
	[CHIPHIDENBU] [int] NOT NULL,
	[MACHECKOUT] [int] NOT NULL,
	CONSTRAINT [PK_GHINHANHUHAI] PRIMARY KEY ([MA])
);

CREATE TABLE [HOADON](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THOIGIANTAO] [datetime] NOT NULL,
	[VAT] [int] NOT NULL,
	[CHIPHICHUATHUE] [int] NOT NULL,
	[SOTIENNHAN] [int] NOT NULL,
	[MACHECKOUT] [int] NOT NULL,
	CONSTRAINT [PK_HOADON] PRIMARY KEY  ([MA])
);

CREATE TABLE [KHUYENMAI](
	[ID] [int] NOT NULL IDENTITY(1,1),
	[TENKHUYENMAI] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[THOIGIANBATDAU] [date] NOT NULL,
	[THOIGIANKETTHUC] [date] NOT NULL,
	[GIATRIKHUYENMAI] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY ([ID])
);

CREATE TABLE [LICHSUCHECKOUT](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THOIGIANTHUCHIEN] [datetime] NOT NULL,
	[MADATPHONG] [int] NOT NULL,
	[NGUOITHUCHIEN] [int] NOT NULL,
	CONSTRAINT [PK_LICHSUCHECKOUT] PRIMARY KEY ([MA])
);

CREATE TABLE [LICHSUDATPHONG](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THOIGIANTRAPHONGDUKIEN] [date] NOT NULL,
	[THOIGIANDAT] [date] NOT NULL,
	[HINHTHUCTHANHTOAN] [varchar](50) NOT NULL,
	[SOTIENDATCOC] [int] NOT NULL,
	[MAYEUCAU] [int] NOT NULL,
	[SOPHONG] [int] NOT NULL,
	[THOIGIANCHECKIN] [datetime] DEFAULT NULL,
	CONSTRAINT [PK_LICHSUDATPHONG] PRIMARY KEY ([MA])
);

CREATE TABLE [LICHSUDATTOUR](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THOIGIANDAT] [datetime] NOT NULL,
	[THOIGIANKHOIHANH] [datetime] NOT NULL,
	[NHUCAUDACBIET] [nvarchar](500) NULL,
	[TINHTRANG] [varchar](50) NOT NULL,
	[MATOUR] [int] NOT NULL,
	[MADATPHONG] [int] NOT NULL,
	CONSTRAINT [PK_LICHSUDATTOUR] PRIMARY KEY ([MA])
);

CREATE TABLE [LICHSUGIAHAN](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[NGAYGIAHAN] [date] NOT NULL,
	[THOIGIANTHUCHIEN] [date] NOT NULL,
	[MADATPHONG] [int] NOT NULL,
	NHANVIENTHUCHIEN [int] NOT NULL,
	CONSTRAINT [PK_LICHSUGIAHAN] PRIMARY KEY ([MA])
);

CREATE TABLE [LICHSUSUDUNGDICHVU](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[THOIGIANSUDUNG] [datetime] NOT NULL,
	[MATDATLICH] [int] NOT NULL,
	[MADATPHONG] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	CONSTRAINT [PK_LICHSUSUDUNGDICHVU] PRIMARY KEY ([MA])
);

CREATE TABLE [LOAIPHONG](
	[MALOAIPHONG] [varchar](20) NOT NULL,
	[HANGPHONG] [smallint] NOT NULL,
	[SOGIUONG] [smallint] NOT NULL,
	[LOAIGIUONG] [smallint] NOT NULL,
	[GIA] [INT] NOT NULL,
	CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED ([MALOAIPHONG])
);

CREATE TABLE [NGUOITHAMGIATOUR](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [int] NOT NULL,
	[MADATTOUR] [int] NOT NULL,
	CONSTRAINT [PK_NGUOITHAMGIATOUR] PRIMARY KEY ([MA])
);

CREATE TABLE [NHANVIEN](
	[MANV] [int] NOT NULL IDENTITY(1,1),
	[HOTEN] [nvarchar](200) NOT NULL,
	[CHUCVU] [varchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [smallint] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TRANGTHAILAMVIEC] [smallint] NOT NULL,
	[MASODINHDANH] [varchar](50) NOT NULL,
	[LOAIMASODINHDANH] [varchar](20) NOT NULL,
	CONSTRAINT [PK_NHANVIEN] PRIMARY KEY  ([MANV])
);

CREATE TABLE [PHONG](
	[SOPHONG] [int] NOT NULL,
	[TRANGTHAI] [varchar](50) NOT NULL,
	[LOAIPHONG] [varchar](20) NOT NULL,
	CONSTRAINT [PK_PHONG] PRIMARY KEY ([SOPHONG])
);

CREATE TABLE [TAIKHOAN](
	[ID] [int] NOT NULL IDENTITY(1,1),
	[MANV] [int] NOT NULL,
	[TAIKHOAN] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY  ([ID])
);

CREATE TABLE [THONGTINDATLICHDICHVU](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[MADATPHONG] [int] NOT NULL,
	[THOIGIANDAT] [datetime] NOT NULL,
	[NGAYSUDUNG] [datetime] NOT NULL,
	[PHITAMTINH] [int] NOT NULL,
	[NHANVIENTIEPNHAN] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	CONSTRAINT [PK_THONGTINDATLICHDICHVU] PRIMARY KEY  ([MA])
);

CREATE TABLE [THONGTINDOANKHACH](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[SOTHANHVIEN] [int] NOT NULL,
	[TENDOAN] [nvarchar](100) NOT NULL,
	[MANGUOIDAIDIEN] [int] NOT NULL,
	CONSTRAINT [PK_THONGTINDOANKHACH] PRIMARY KEY ([MA])
);

CREATE TABLE [THONGTINKHACHHANG](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[MASODINHDANH] [varchar](50) NOT NULL,
	[LOAIMASODINHDANH] [varchar](20) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NAMSINH] [int] NOT NULL,
	[HOTEN] [nvarchar](150) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DIACHITHUONGTRU] [nvarchar](200) NULL,
	[GIOITINH] [smallint] NOT NULL,
	CONSTRAINT [PK_THONGTINKHACHHANG] PRIMARY KEY ([MA] ASC)
);

CREATE TABLE [YEUCAUDATPHONG](
	[MA] [int] NOT NULL IDENTITY(1,1),
	[SODEMLUUTRU] [int] NOT NULL,
	[NGAYDEN] [date] NOT NULL,
	[NGAYYEUCAU] [date] NOT NULL,
	[YEUCAUDACBIET] [nvarchar](500) NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[LOAIPHONG] [varchar](20) NOT NULL,
	CONSTRAINT [PK_YEUCAUDATPHONG] PRIMARY KEY ([MA])
);

ALTER TABLE [DANHSACHCHO] ADD  CONSTRAINT [DF_DANHSACHCHO_THOIGIANTAO]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [HOADON] ADD  CONSTRAINT [DF_HOADON_THOIGIANTAO]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [HOADON] ADD  CONSTRAINT [DF_HOADON_VAT]  DEFAULT ((0)) FOR [VAT]
GO
ALTER TABLE [LICHSUDATPHONG] ADD  CONSTRAINT [DF_LICHSUDATPHONG_HINHTHUCTHANHTOAN]  DEFAULT ('TRUC_TIEP') FOR [HINHTHUCTHANHTOAN]
GO
ALTER TABLE [LICHSUDATTOUR] ADD  CONSTRAINT [DF_LICHSUDATTOUR_THOIGIANDAT]  DEFAULT (getdate()) FOR [THOIGIANDAT]
GO
ALTER TABLE [LICHSUGIAHAN] ADD  CONSTRAINT [DF_LICHSUGIAHAN_THOIGIANTHUCHIEN]  DEFAULT (getdate()) FOR [THOIGIANTHUCHIEN]
GO
ALTER TABLE [LICHSUSUDUNGDICHVU] ADD  CONSTRAINT [DF_LICHSUSUDUNGDICHVU_THOIGIANSUDUNG]  DEFAULT (getdate()) FOR [THOIGIANSUDUNG]
GO
ALTER TABLE [LOAIPHONG] ADD  CONSTRAINT [DF_LOAIPHONG_HANGPHONG]  DEFAULT ((1)) FOR [HANGPHONG]
GO
ALTER TABLE [LOAIPHONG] ADD  CONSTRAINT [DF_LOAIPHONG_SOGIUONG]  DEFAULT ((1)) FOR [SOGIUONG]
GO
ALTER TABLE [LOAIPHONG] ADD  CONSTRAINT [DF_LOAIPHONG_LOAIGIUONG]  DEFAULT ((1)) FOR [LOAIGIUONG]
GO
ALTER TABLE [NGUOITHAMGIATOUR] ADD  CONSTRAINT [DF_NGUOITHAMGIATOUR_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_TRANGTHAILAMVIEC]  DEFAULT ((1)) FOR [TRANGTHAILAMVIEC]
GO
ALTER TABLE [PHONG] ADD  CONSTRAINT [DF_PHONG_TRANGTHAI]  DEFAULT ('TRONG') FOR [TRANGTHAI]
GO
ALTER TABLE [THONGTINDATLICHDICHVU] ADD  CONSTRAINT [DF_THONGTINDATLICHDICHVU_THOIGIANDAT]  DEFAULT (getdate()) FOR [THOIGIANDAT]
GO
ALTER TABLE [THONGTINKHACHHANG] ADD  CONSTRAINT [DF_THONGTINKHACHHANG_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
-------------------------------------

ALTER TABLE [DANHSACHCHO]  WITH CHECK ADD  CONSTRAINT [CK_DANHSACHCHO_TRANGTHAI] CHECK  (([TRANGTHAI]='DA_XU_LY' OR [TRANGTHAI]='DA_HUY' OR [TRANGTHAI]='DANG_CHO'))
GO
ALTER TABLE [DANHSACHCHO] CHECK CONSTRAINT [CK_DANHSACHCHO_TRANGTHAI]
GO
ALTER TABLE [DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVU_GIA] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [DICHVU] CHECK CONSTRAINT [CK_DICHVU_GIA]
GO
ALTER TABLE [GHINHANHUHAI]  WITH CHECK ADD  CONSTRAINT [CK_GHINHANHUHAI_CHIPHIDENBU] CHECK  (([CHIPHIDENBU]>(0)))
GO
ALTER TABLE [GHINHANHUHAI] CHECK CONSTRAINT [CK_GHINHANHUHAI_CHIPHIDENBU]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_CHIPHICHUATHUE] CHECK  (([CHIPHICHUATHUE]>(0)))
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [CK_HOADON_CHIPHICHUATHUE]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_SOTIENNHAN] CHECK  (([SOTIENNHAN]>(0)))
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [CK_HOADON_SOTIENNHAN]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_VAT] CHECK  (([VAT]>=(0) AND [VAT]<=(100)))
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [CK_HOADON_VAT]
GO
ALTER TABLE [KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_KHUYENMAI_GIATRIKHUYENMAI] CHECK  (([GIATRIKHUYENMAI]>(0) AND [GIATRIKHUYENMAI]<=(100)))
GO
ALTER TABLE [KHUYENMAI] CHECK CONSTRAINT [CK_KHUYENMAI_GIATRIKHUYENMAI]
GO
ALTER TABLE [LICHSUDATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LICHSUDATPHONG_HINHTHUCTHANHTOAN] CHECK  (([HINHTHUCTHANHTOAN]='CHUYEN_KHOAN' OR [HINHTHUCTHANHTOAN]='TRUC_TIEP'))
GO
ALTER TABLE [LICHSUDATPHONG] CHECK CONSTRAINT [CK_LICHSUDATPHONG_HINHTHUCTHANHTOAN]
GO
ALTER TABLE [LICHSUDATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LICHSUDATPHONG_SOTIENDATCOC] CHECK  (([SOTIENDATCOC]>(0)))
GO
ALTER TABLE [LICHSUDATPHONG] CHECK CONSTRAINT [CK_LICHSUDATPHONG_SOTIENDATCOC]
GO
ALTER TABLE [LICHSUDATTOUR]  WITH CHECK ADD  CONSTRAINT [CK_LICHSUDATTOUR_TINHTRANG] CHECK  (([TINHTRANG]='DA_SU_DUNG' OR [TINHTRANG]='DA_HUY' OR [TINHTRANG]='DANG_CHO'))
GO
ALTER TABLE [LICHSUDATTOUR] CHECK CONSTRAINT [CK_LICHSUDATTOUR_TINHTRANG]
GO
ALTER TABLE [LICHSUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_LICHSUSUDUNGDICHVU_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [LICHSUSUDUNGDICHVU] CHECK CONSTRAINT [CK_LICHSUSUDUNGDICHVU_SOLUONG]
GO
ALTER TABLE [LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_HANGPHONG] CHECK  (([HANGPHONG]=(3) OR [HANGPHONG]=(2) OR [HANGPHONG]=(1)))
GO
ALTER TABLE [LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_HANGPHONG]
GO
ALTER TABLE [LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_LOAIGIUONG] CHECK  (([LOAIGIUONG]=(2) OR [LOAIGIUONG]=(1)))
GO
ALTER TABLE [LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_LOAIGIUONG]
GO
ALTER TABLE [LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_SOGIUONG] CHECK  (([SOGIUONG]=(2) OR [SOGIUONG]=(1)))
GO
ALTER TABLE [LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_SOGIUONG]
GO
ALTER TABLE [NGUOITHAMGIATOUR]  WITH CHECK ADD  CONSTRAINT [CK_NGUOITHAMGIATOUR_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [NGUOITHAMGIATOUR] CHECK CONSTRAINT [CK_NGUOITHAMGIATOUR_GIOITINH]
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_CHUCVU] CHECK  (([CHUCVU]='ADMIN' OR [CHUCVU]='NHANVIEN'))
GO
ALTER TABLE [NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GIOITINH]
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_LOAIMASODINHDANH] CHECK  (([LOAIMASODINHDANH]='CMND' OR [LOAIMASODINHDANH]='CCCD'))
GO
ALTER TABLE [NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_LOAIMASODINHDANH]
GO
ALTER TABLE [PHONG]  WITH CHECK ADD  CONSTRAINT [CK_PHONG_TRANGTHAI] CHECK  (([TRANGTHAI]='KHONG_SU_DUNG' OR [TRANGTHAI]='TRONG' OR [TRANGTHAI]='DANG_SU_DUNG'))
GO
ALTER TABLE [PHONG] CHECK CONSTRAINT [CK_PHONG_TRANGTHAI]
GO
ALTER TABLE [THONGTINDATLICHDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_THONGTINDATLICHDICHVU_PHITAMTINH] CHECK  (([PHITAMTINH]>=(0)))
GO
ALTER TABLE [THONGTINDATLICHDICHVU] CHECK CONSTRAINT [CK_THONGTINDATLICHDICHVU_PHITAMTINH]
GO
ALTER TABLE [THONGTINDOANKHACH]  WITH CHECK ADD  CONSTRAINT [CK_THONGTINDOANKHACH_SOTHANHVIEN] CHECK  (([SOTHANHVIEN]>(0)))
GO
ALTER TABLE [THONGTINDOANKHACH] CHECK CONSTRAINT [CK_THONGTINDOANKHACH_SOTHANHVIEN]
GO
ALTER TABLE [THONGTINKHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_THONGTINKHACHHANG_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [THONGTINKHACHHANG] CHECK CONSTRAINT [CK_THONGTINKHACHHANG_GIOITINH]
GO
ALTER TABLE [THONGTINKHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_THONGTINKHACHHANG_LOAIMASODINHDANH] CHECK  (([LOAIMASODINHDANH]='CMND' OR [LOAIMASODINHDANH]='CCCD'))
GO
ALTER TABLE [THONGTINKHACHHANG] CHECK CONSTRAINT [CK_THONGTINKHACHHANG_LOAIMASODINHDANH]
GO
ALTER TABLE [THONGTINKHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_THONGTINKHACHHANG_NAMSINH] CHECK  (([NAMSINH]>=(1900) AND [NAMSINH]<=datepart(year,getdate())));
GO
ALTER TABLE [THONGTINKHACHHANG] CHECK CONSTRAINT [CK_THONGTINKHACHHANG_NAMSINH]
GO
--------------------------------------------------
ALTER TABLE [DANHSACHCHO]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHCHO_NHANVIEN] FOREIGN KEY([NGUOITHUCHIEN])
REFERENCES [NHANVIEN] ([MANV])
GO
ALTER TABLE [DANHSACHCHO] CHECK CONSTRAINT [FK_DANHSACHCHO_NHANVIEN]
GO
ALTER TABLE [DANHSACHCHO]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHCHO_YEUCAUDATPHONG] FOREIGN KEY([MAYEUCAU])
REFERENCES [YEUCAUDATPHONG] ([MA])
GO
ALTER TABLE [DANHSACHCHO] CHECK CONSTRAINT [FK_DANHSACHCHO_YEUCAUDATPHONG]
GO
ALTER TABLE [DICHVUDIKEM]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUDIKEM_DICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [DICHVU] ([MA])
GO
ALTER TABLE [DICHVUDIKEM] CHECK CONSTRAINT [FK_DICHVUDIKEM_DICHVU]
GO
ALTER TABLE [DICHVUDIKEM]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUDIKEM_LOAIPHONG] FOREIGN KEY([LOAIPHONG])
REFERENCES [LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [DICHVUDIKEM] CHECK CONSTRAINT [FK_DICHVUDIKEM_LOAIPHONG]
GO
ALTER TABLE [GHINHANHUHAI]  WITH CHECK ADD  CONSTRAINT [FK_GHINHANHUHAI_LICHSUCHECKOUT] FOREIGN KEY([MACHECKOUT])
REFERENCES [LICHSUCHECKOUT] ([MA])
GO
ALTER TABLE [GHINHANHUHAI] CHECK CONSTRAINT [FK_GHINHANHUHAI_LICHSUCHECKOUT]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LICHSUCHECKOUT] FOREIGN KEY([MACHECKOUT])
REFERENCES [LICHSUCHECKOUT] ([MA])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_LICHSUCHECKOUT]
GO
ALTER TABLE [KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_DICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [DICHVU] ([MA])
GO
ALTER TABLE [KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_DICHVU]
GO
ALTER TABLE [LICHSUCHECKOUT]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUCHECKOUT_LICHSUDATPHONG] FOREIGN KEY([MADATPHONG])
REFERENCES [LICHSUDATPHONG] ([MA])
GO
ALTER TABLE [LICHSUCHECKOUT] CHECK CONSTRAINT [FK_LICHSUCHECKOUT_LICHSUDATPHONG]
GO
ALTER TABLE [LICHSUCHECKOUT]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUCHECKOUT_NHANVIEN] FOREIGN KEY([NGUOITHUCHIEN])
REFERENCES [NHANVIEN] ([MANV])
GO
ALTER TABLE [LICHSUCHECKOUT] CHECK CONSTRAINT [FK_LICHSUCHECKOUT_NHANVIEN]
GO
ALTER TABLE [LICHSUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDATPHONG_PHONG] FOREIGN KEY([SOPHONG])
REFERENCES [PHONG] ([SOPHONG])
GO
ALTER TABLE [LICHSUDATPHONG] CHECK CONSTRAINT [FK_LICHSUDATPHONG_PHONG]
GO
ALTER TABLE [LICHSUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDATPHONG_YEUCAUDATPHONG] FOREIGN KEY([MAYEUCAU])
REFERENCES [YEUCAUDATPHONG] ([MA])
GO
ALTER TABLE [LICHSUDATPHONG] CHECK CONSTRAINT [FK_LICHSUDATPHONG_YEUCAUDATPHONG]
GO
ALTER TABLE [LICHSUDATTOUR]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDATTOUR_DANHSACHTOUR] FOREIGN KEY([MATOUR])
REFERENCES [DANHSACHTOUR] ([MA])
GO
ALTER TABLE [LICHSUDATTOUR] CHECK CONSTRAINT [FK_LICHSUDATTOUR_DANHSACHTOUR]
GO
ALTER TABLE [LICHSUDATTOUR]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDATTOUR_LICHSUDATPHONG] FOREIGN KEY([MADATPHONG])
REFERENCES [LICHSUDATPHONG] ([MA])
GO
ALTER TABLE [LICHSUDATTOUR] CHECK CONSTRAINT [FK_LICHSUDATTOUR_LICHSUDATPHONG]
GO
ALTER TABLE [LICHSUGIAHAN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIAHAN_LICHSUDATPHONG] FOREIGN KEY([MADATPHONG])
REFERENCES [LICHSUDATPHONG] ([MA])
GO
ALTER TABLE [LICHSUGIAHAN] CHECK CONSTRAINT [FK_LICHSUGIAHAN_LICHSUDATPHONG]
GO
ALTER TABLE [LICHSUGIAHAN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIAHAN_NHANVIEN] FOREIGN KEY([NHANVIENTHUCHIEN])
REFERENCES [NHANVIEN] ([MANV])
GO
ALTER TABLE [LICHSUGIAHAN] CHECK CONSTRAINT [FK_LICHSUGIAHAN_NHANVIEN]
GO
ALTER TABLE [LICHSUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUSUDUNGDICHVU_LICHSUDATPHONG] FOREIGN KEY([MADATPHONG])
REFERENCES [LICHSUDATPHONG] ([MA])
GO
ALTER TABLE [LICHSUSUDUNGDICHVU] CHECK CONSTRAINT [FK_LICHSUSUDUNGDICHVU_LICHSUDATPHONG]
GO
ALTER TABLE [LICHSUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUSUDUNGDICHVU_THONGTINDATLICHDICHVU] FOREIGN KEY([MATDATLICH])
REFERENCES [THONGTINDATLICHDICHVU] ([MA])
GO
ALTER TABLE [LICHSUSUDUNGDICHVU] CHECK CONSTRAINT [FK_LICHSUSUDUNGDICHVU_THONGTINDATLICHDICHVU]
GO
ALTER TABLE [NGUOITHAMGIATOUR]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITHAMGIATOUR_LICHSUDATTOUR] FOREIGN KEY([MADATTOUR])
REFERENCES [LICHSUDATTOUR] ([MA])
GO
ALTER TABLE [NGUOITHAMGIATOUR] CHECK CONSTRAINT [FK_NGUOITHAMGIATOUR_LICHSUDATTOUR]
GO
ALTER TABLE [PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([LOAIPHONG])
REFERENCES [LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [NHANVIEN] ([MANV])
GO
ALTER TABLE [TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [THONGTINDATLICHDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDATLICHDICHVU_DICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [DICHVU] ([MA])
GO
ALTER TABLE [THONGTINDATLICHDICHVU] CHECK CONSTRAINT [FK_THONGTINDATLICHDICHVU_DICHVU]
GO
ALTER TABLE [THONGTINDATLICHDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDATLICHDICHVU_LICHSUDATPHONG] FOREIGN KEY([MADATPHONG])
REFERENCES [LICHSUDATPHONG] ([MA])
GO
ALTER TABLE [THONGTINDATLICHDICHVU] CHECK CONSTRAINT [FK_THONGTINDATLICHDICHVU_LICHSUDATPHONG]
GO
ALTER TABLE [THONGTINDATLICHDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDATLICHDICHVU_NHANVIEN] FOREIGN KEY([NHANVIENTIEPNHAN])
REFERENCES [NHANVIEN] ([MANV])
GO
ALTER TABLE [THONGTINDATLICHDICHVU] CHECK CONSTRAINT [FK_THONGTINDATLICHDICHVU_NHANVIEN]
GO
ALTER TABLE [THONGTINDOANKHACH]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDOANKHACH_THONGTINKHACHHANG] FOREIGN KEY([MANGUOIDAIDIEN])
REFERENCES [THONGTINKHACHHANG] ([MA])
GO
ALTER TABLE [THONGTINDOANKHACH] CHECK CONSTRAINT [FK_THONGTINDOANKHACH_THONGTINKHACHHANG]
GO
ALTER TABLE [YEUCAUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUDATPHONG_LOAIPHONG] FOREIGN KEY([LOAIPHONG])
REFERENCES [LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [YEUCAUDATPHONG] CHECK CONSTRAINT [FK_YEUCAUDATPHONG_LOAIPHONG]
GO
ALTER TABLE [YEUCAUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUDATPHONG_THONGTINKHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [THONGTINKHACHHANG] ([MA])
GO
ALTER TABLE [YEUCAUDATPHONG] CHECK CONSTRAINT [FK_YEUCAUDATPHONG_THONGTINKHACHHANG]
GO